/* COMMON STYLES */
body {
  font-family: "Inter", sans-serif;
  color: #000000;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
input {
  font-family: inherit;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}
/* MOBILE HEADER STYLES */
.page-header {
  position: relative;
}
.page-header-container {
  position: absolute;
  z-index: 999999999999;
  left: 50%;
  transform: translateX(-50%);
  top: 26px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.page-logo {
  display: flex;
  font-size: 28px;
  color: #fff;
}
.header-nav-list {
  display: none;
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 24px 0;
}
.header-btn-icon {
  stroke: #ffffff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn:hover .header-btn-icon,
.header-btn:focus .header-btn-icon {
  stroke: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-nav-link {
    display: block;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 23px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #b544fe;
  }
  .header-btn {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header-nav-link {
    padding-top: 29px;
    padding-bottom: 28px;
  }
}
/* HERO */
.page-hero {
  background-image: url(../images/hero/mob/hero-bgr-mob.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 663px;
  margin: 0 auto;
  background-color: #06071b;
  padding-top: 182px;
  padding-bottom: 127px;
  max-width: 320px;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .page-hero {
    background-image: url(../images/hero/mob/hero-bgr-mob@2x.png);
  }
}
.page-hero-title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 12px;
  max-width: 266px;
}
.page-hero-text {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-bottom: 28px;
}
.page-hero-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}
.page-hero-item-container {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}
.page-hero-item-text {
  font-size: 12px;
  color: #fff;
  max-width: 235px;
}
.page-hero-btn {
  display: block;
  border-radius: 5px;
  min-width: 200px;
  height: 42px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border: none;
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.page-hero-btn:hover,
.page-hero-btn:focus {
  background: #06071b;
}
.page-hero-container-bottom,
.page-hero-img-main-desk,
.page-hero-img-decor-desk,
.page-hero-img-main-tab,
.page-hero-img-decor-tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-hero {
    padding-top: 142px;
    padding-bottom: 143px;
    max-width: 768px;
    background-image: none;
    position: relative;
  }
  .page-hero-title {
    font-size: 40px;
    max-width: 442px;
  }
  .page-hero-text {
    font-size: 20px;
  }
  .page-hero-list {
    gap: 14px;
    margin-bottom: 62px;
  }
  .page-hero-item-text {
    font-size: 14px;
    max-width: 380px;
  }
  .page-hero-btn {
    margin-left: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .page-hero-img-main-tab {
      display: block;
      position: absolute;
      bottom: -60px;
      right: 32px;
    }
    .page-hero-img-decor-tab {
      display: block;
      position: absolute;
      bottom: 0;
      right: 207px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .page-hero {
    padding-top: 243px;
    padding-bottom: 146px;
    max-width: 1280px;
  }
  .page-hero-img-main-desk {
    display: block;
    position: absolute;
    bottom: -60px;
    right: 55px;
  }
  .page-hero-img-decor-desk {
    display: block;
    position: absolute;
    bottom: 39px;
    right: 400px;
  }
}
/* KEY FEATURES */
.key-features {
  padding-top: 40px;
  padding-bottom: 40px;
}
.key-features-title {
  font-size: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}
.key-features-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  margin-bottom: 40px;
}
.key-features-list {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.key-features-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}
.key-features-item-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.key-features-item-title {
  font-size: 14px;
  line-height: 1.43;
}
.key-features-item-text {
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .key-features-item-double-sixth {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .key-features {
    padding-top: 100px;
    padding-bottom: 47px;
  }
  .key-features-title {
    font-size: 24px;
  }
  .key-features-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .key-features-list {
    margin-top: 0;
    gap: 50px;
    justify-content: flex-start;
  }
  .key-features-item {
    gap: 13px;
  }
  .key-features-item:last-child {
    display: none;
  }
  .key-features-item-container {
    gap: 13px;
  }
  .key-features-item-title {
    font-size: 16px;
    line-height: 1.5;
  }
  .key-features-item-text {
    font-size: 14px;
  }
  .key-features-container-tab {
    display: flex;
    gap: 32px;
    align-items: flex-start;
  }
  .key-features-container-img-double-sixth {
    display: flex;
    flex-direction: column;
    gap: 79px;
    justify-content: flex-end;
    position: relative;
    height: 100%;
  }
  .key-features-item-double-sixth {
    align-self: flex-end;
  }

  .key-features-img {
    position: absolute;
    top: 0;
    left: -32px;
  }
}
